.maplibregl-ctrl-mouse-position {
  background-color: #fff;
  border-radius: 12px;
  box-sizing: content-box;
  color: #000;
  margin: 10px;
  min-height: 20px;
  padding: 2px 8px 2px 8px;
  position: relative;
}

.maplibregl-ctrl-mouse-position-lat-lng {
  display: inline-block;
  width: 80px;
  white-space: nowrap;
}

.maplibregl-ctrl-mouse-position-lat-lng.dms {
  width: 120px;
}

