[data-bs-theme=dark] .maplibregl-ctrl-group,
[data-bs-theme=dark] .maplibregl-ctrl-attrib,
[data-bs-theme=dark] .maplibregl-ctrl-scale,
[data-bs-theme=dark] .maplibregl-popup-content,
[data-bs-theme=dark] .maplibregl-ctrl-widget,
[data-bs-theme=dark] .maplibregl-ctrl-mouse-position {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

[data-bs-theme=dark] .maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
[data-bs-theme=dark] .maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip,
[data-bs-theme=dark] .maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
  border-top-color: var(--bs-body-bg);
}
[data-bs-theme=dark] .maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-right-color: var(--bs-body-bg);
}
[data-bs-theme=dark] .maplibregl-popup-anchor-right .maplibregl-popup-tip  {
  border-left-color: var(--bs-body-bg);
}
[data-bs-theme=dark] .maplibregl-popup-anchor-top .maplibregl-popup-tip,
[data-bs-theme=dark] .maplibregl-popup-anchor-top-right .maplibregl-popup-tip,
[data-bs-theme=dark] .maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
  border-bottom-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .maplibregl-ctrl-attrib a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1))
}

[data-bs-theme=dark] .maplibregl-ctrl button .maplibregl-ctrl-icon,
[data-bs-theme=dark] .maplibregl-ctrl-attrib-button {
  filter: invert(100%);
}

[data-bs-theme=dark] .maplibregl-ctrl-group button+button {
  border-top: 1px solid #5c5c5c;
}

[data-bs-theme=dark] .maplibregl-ctrl-wmaps.widget {
  background-color: rgba(33, 37, 41, 0.8) !important;
}

.maplibregl-ctrl-wmaps.widget {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.maplibregl-ctrl-wmaps.widget .smaller {
  font-size: smaller;
}

.maplibregl-ctrl-loader {
  z-index: 1000;
  position: absolute;
  width: 100%;
  top: 0px;
  pointer-events: none;
}

.maplibregl-ctrl-group button.btn {
  background-color: var(--bs-btn-bg);
  width: auto;
  height: auto;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}

.maplibregl-ctrl-group button.btn:hover {
  background-color: var(--bs-btn-hover-bg);
}

.maplibregl-popup {
  max-width: 300px !important;
}

.maplibregl-ctrl-attrib {
  margin: 0px 10px 10px !important;
}

.maplibregl-ctrl-group > button {
  width: 35px !important;
  height: 35px !important;
}

.maplibregl-ctrl-group > button i {
  font-size: 16pt;
}

.maplibregl-ctrl-group button.accordion-button {
  height: auto !important;
}

.maplibregl-ctrl-group .accordion-header button {
  width: 100%;
  display: flex;
}

.maplibregl-ctrl-group .accordion-body {
  font-size: smaller;
}

.maplibregl-popup-content div span {
  display: inline-block;
}

.maplibregl-popup-content div span.label {
  min-width: 80px;
}

.maplibregl-popup-content .btn-sm {
  padding: 0.1rem 0.3rem;
  font-size: small;
}

.maplibregl-popup-content .nav-link {
  outline: none !important;
  padding: 0.3rem 0.5rem;
}

.maplibregl-popup-content .nav {
  padding: 0 0.5rem;
}

.maplibregl-ctrl-group.cmp {
  width:240px;
}