.maplibregl-ctrl-group button {
  width: 35px;
  height: 35px;
}

.maplibregl-popup-content div span {
  display: inline-block;
}

.maplibregl-popup-content div span.label {
  min-width: 80px;
}

.maplibregl-popup-content .btn-sm {
  padding: 0.1rem 0.3rem;
  font-size: small;
}

.maplibregl-popup-content .nav-link {
  outline: none !important;
  padding: 0.3rem 0.5rem;
}

.maplibregl-popup-content .nav {
  padding: 0 0.5rem;
}